.tabs {
   // height: 320px;
   // border: 1px solid #fff;
   // padding: 0 5px;

   // .tabs__items

   &__items {
      display: flex;
      padding: 10px 0;
   }

   // .tabs__item

   &__item {
      color: #fff;
      margin-right: 20px;
      cursor: pointer;
      &.active{
         color:rgb(240, 185, 11);
      }
   }

   // .tabs__body

   &__body {
   }

   // .tabs__block

   &__block {
   }

   // .tabs__block-one

   &__block-one {
      position: relative;
      border-bottom: 1px solid rgb(37, 41, 48);
      
      
 
      &__item{
         font-size: 10px;
         color: rgb(132, 142, 156);
         &:nth-child(6){
            text-align: right;
            display: block;
         }
         &:nth-child(7){
            text-align: right;
            display: block;
         }
         &:nth-child(8){
            text-align: center;
            display: block;
         }
         &:nth-child(9){
            text-align: right;
            display: block;
         }
         &:nth-child(10){
            text-align: right;
            display: block;
         }
      }
   }
   &__block-two{
      
      position: relative;
      border-bottom: 1px solid rgb(37, 41, 48);
      display: none;
      &__item-sup{
         box-sizing: border-box;
         margin: 0px;
         display: flex;
         -webkit-box-align: center;
         align-items: center;
         -webkit-box-pack: center;
         justify-content: center;
         color: rgb(132, 142, 156);
         cursor: pointer;
         font-size: 12px;
         line-height: 16px;
         padding: 4px 6px;
         border-radius: 2px;
         min-width: 48px;
         margin-right: 8px;

         &:hover{ 
            background-color: lighten(rgb(20, 21, 26), 20%);
         }
         &.active{
            background-color: rgb(43, 49, 57);
         }
         }
      
      &__item{
         font-size: 10px;
         color: rgb(132, 142, 156);
        
      }
   }
   &__block-three{
      
      
      position: relative;
      border-bottom: 1px solid rgb(37, 41, 48);
      display: none;
      &__item-sup{
         box-sizing: border-box;
         margin: 0px;
         display: flex;
         -webkit-box-align: center;
         align-items: center;
         -webkit-box-pack: center;
         justify-content: center;
         color: rgb(132, 142, 156);
         cursor: pointer;
         font-size: 12px;
         line-height: 16px;
         padding: 4px 6px;
         border-radius: 2px;
         min-width: 48px;
         margin-right: 8px;
         margin-bottom: 8px;

         &:hover{ 
            background-color: lighten(rgb(20, 21, 26), 20%);
         }
         &.active{
            background-color: rgb(43, 49, 57);
         }
         }
      
      &__item{
         font-size: 10px;
         color: rgb(132, 142, 156);
        
      }

   }
}
.active {
}


.tabs__block-two__cal-from{
   background-color: transparent;
   color: rgb(132, 142, 156);
}

.tabs__block-two__btn{
   background-color: rgb(43, 49, 57);
   margin: 0px 0px 0px 16px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 4px 8px;
    min-width: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    min-height: 24px;
    border: none;
    background-color: rgb(35, 40, 45);
    color: rgb(234, 236, 239);
    border-radius: 2px;
    &:hover{
      background-color: lighten(rgb(35, 40, 45), 10%);
   }
   &_l{
      margin: 0px 0px 0px 8px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 4px 8px;
    min-width: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    min-height: 24px;
    border: none;
    color: rgb(132, 142, 156);
    background-color: rgb(71, 77, 87);
    border-radius: 2px;
    &:hover{
       background-color: darken(rgb(71, 77, 87), 10%);
    }
   }
   
}

.tabs__block-three__btn{
   background-color: rgb(43, 49, 57);
   margin: 0px 0px 0px 16px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 4px 8px;
    min-width: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    min-height: 24px;
    border: none;
    background-color: rgb(35, 40, 45);
    color: rgb(234, 236, 239);
    border-radius: 2px;
    &:hover{
      background-color: lighten(rgb(35, 40, 45), 10%);
   }
   &_l{
      margin: 0px 0px 0px 8px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 4px 8px;
    min-width: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    min-height: 24px;
    border: none;
    color: rgb(132, 142, 156);
    background-color: rgb(71, 77, 87);
    border-radius: 2px;
    &:hover{
       background-color: darken(rgb(71, 77, 87), 10%);
    }
   }}

.tabs__block-two__items-sup{
   margin-bottom: 8px;
}
.tabs__block{
   display: none;
   &.active{
      display: block;
   }
}
.tabs__block-four__item{
    font-size: 12px;
    color: rgb(132, 142, 156);
    &:last-child{
       text-align: right;
    }
}
.tabs__block-four__items{
   box-sizing: border-box;
   margin: 0px;
   display: flex;
   padding-left: 0px;
   -webkit-box-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   justify-content: space-between;
   width: 100%;
   padding-top: 4px;
   padding-bottom: 4px;
   height: 32px;
   border-bottom: 1px solid rgb(37, 41, 48);
   color: rgb(132, 142, 156);
   min-width: 640px;
}

.tabss {
   height: 320px;
   border: 1px solid rgb(30, 37, 40);
   padding: 0 5px;
}

/* Чекмарк */

.container {
   margin-left: 50px;
   margin-bottom: 10px;
   color: white;
   display: block;
   position: relative;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}


.checkmark {
   
   border-radius: 3px;
   position: absolute;
   top: 0;
   left: 0;
   height: 25px;
   width: 25px;
   background-color: rgba(43, 47, 54, .9);
}


.container:hover input~.checkmark {
   background-color: rgba(43, 47, 54, .9);
   border: 1px solid #f0b90b

}


.container input:checked~.checkmark {
   background-color: #f0b90b;
}


.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}


.container input:checked~.checkmark:after {
   display: block;
}


.container .checkmark:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid rgba(43, 47, 54, .9);
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}


.container2 {
   margin-top: 20px;
   margin-bottom: 40px;
   color: white;
   display: block;
   position: relative;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 .container2 input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
 }
 
 
 
 
 .container2 input:checked~.checkmark {
   background-color: #f0b90b;
 }
 
 .container2 input:checked~.checkmark:after {
   display: block;
 }
 
 
 .container2 .checkmark:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid rgba(43, 47, 54, .9);
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 } 
